<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.Perspective"
            name="Perspective"
            id="ch.sbb.scion.rcp.microfrontend.e3.app.demo.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.view.MessageClientPart"
            id="ch.sbb.scion.rcp.views.messageClient"
            name="Message Client"
            restorable="true">
      </e4view>
      <e4view
            class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.view.IntentClientPart"
            id="ch.sbb.scion.rcp.views.intentClient"
            name="Intent Client"
            restorable="true">
      </e4view>
      <e4view
            class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.view.ManifestServicePart"
            id="ch.sbb.scion.rcp.views.manifestService"
            name="Manifest Service"
            restorable="true">
      </e4view>
      <e4view
            class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.view.OutletRouterPart"
            id="ch.sbb.scion.rcp.views.outletRouter"
            name="Outlet Router"
            restorable="true">
      </e4view>
      <e4view
            class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.view.RouterOutletPart"
            id="ch.sbb.scion.rcp.views.routerOutlet"
            name="Router Outlet"
            restorable="true">
      </e4view>
      <e4view
            class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.view.WorkbenchPopupServicePart"
            id="ch.sbb.scion.rcp.views.workbenchPopupService"
            name="Workbench Popup Service"
            restorable="true">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="*">
         <view
               id="ch.sbb.scion.rcp.views.messageClient"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Capabilities">
            <menu
                  label="Show View">
               <dynamic
                     class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.menu.ViewCapabilityMenuContributor"
                     id="ch.sbb.scion.rcp.menus.viewCapabilities">
               </dynamic>
            </menu>
            <menu
                  label="Open Tile">
               <dynamic
                     class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.menu.TileCapabilityMenuContributor"
                     id="ch.sbb.scion.rcp.menus.tileCapabilities">
               </dynamic>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.sbb.scion.rcp.microfrontend.e3.app.demo.application"
            name="SCION RCP Demo Application">
         <property
               name="appName"
               value="SCION RCP Demo Application">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://ch.sbb.scion.rcp.microfrontend.e3.app.demo/ch.sbb.scion.rcp.microfrontend.e3.app.demo.ApplicationStartup">
         </property>
      </product>
   </extension>
   <extension
         point="ch.sbb.scion.rcp.workbench.popupWindowProviders">
      <provider
            class="ch.sbb.scion.rcp.microfrontend.e3.app.demo.popup.TestPopupDialogProvider"
            description="A popup window provider that provides a test dialog."
            id="ch.sbb.scion.rcp.popup.providers.TestPopupDialogProvider"
            name="Test Popup Dialog Provider"
            popupId="ch.sbb.scion.rcp.popups.TestPopupDialog">
      </provider>
   </extension>

</plugin>
