### IntelliJ IDEA ###
**/*.iws
**/*.iml
**/*.ipr
**/.idea/

### Eclipse IDE ###
**/.launch
**/target/
**/bin/
**/*.log
**/.m2/
**/.metadata/
**/build.xml
**/jacocoReport/
**/target/
**/*.bak
**/*.iml
**/workspace

### others ###
**/dist/
**/out-tsc/
**/node_modules
**/.angular/cache
**/.parcel-cache
**/.sass-cache/
