### IntelliJ IDEA ###
**/*.iws
**/*.iml
**/*.ipr
**/.idea/

### Eclipse IDE ###
**/.launch
**/target/
**/bin/
**/*.log
**/.m2/
**/.metadata/
**/build.xml
**/jacocoReport/
**/target/
**/*.bak
**/*.iml
**/workspace
**/AllTests.xml

### others ###
**/dist/
!.github/actions/*/dist
**/out-tsc/
**/node_modules
**/.angular/cache
**/.parcel-cache
**/.sass-cache/
**/.flattened-pom.xml
.mvn
