**/.idea/
**/.launch

**/target/
**/bin/
**/*.log
**/.m2/
**/.metadata/
**/build.xml
**/jacocoReport/
**/target/
**/*.bak
**/*.iml

**/dist/
**/out-tsc/
**/node_modules
**/.angular/cache
**/.parcel-cache
**/.sass-cache/
